<div id="physicsengine-ui">
	<canvas id="physicsengine-world"></canvas>
	<div id="physicsengine-buttons">
		<button id="physicsengine-addsphere-button">Add sphere</button>
		<button id="physicsengine-settings-button">Settings</button>
	</div>
	<button id="physicsengine-settings-button">Settings</button>
	<div id="physicsengine-settings-dialog" title="Settings">
		<label for="physicsengine-settings-gravity-slider">Gravity: <span><%= gravity %></span></label>
		<div id="physicsengine-settings-gravity-slider"></div>
		
		<label for="physicsengine-settings-friction-slider">Friction: <span><%= friction %></span></label>
		<div id="physicsengine-settings-friction-slider"></div>
	</div>
</div>